.container__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 65px 70px 1fr 50px;
  grid-template-areas:
    "header header header header header"
    "menu menu menu menu menu"
    "content content content content content"
    "footer footer footer footer footer";
}

.container__studio {
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.container__content {
  display: flex;
  flex-direction: column;
  min-height: 667px;
}

.container__selected {
  display: flex;
  flex-direction: column;
}

.container__header {
  grid-area: header;
}
.container__menu {
  grid-area: menu;
}
