html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: MillerBanner;
  src: url("../font/MillerBanner.otf") format("opentype");
}

@font-face {
  font-family: HelveticaNeue;
  src: url("../font/HelveticaNeue.ttf") format("truetype");
}
