.btn--back--list {
  background-image: url(../../images/icons/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 27px;
}
.btn--filter--list {
  background-image: url(../../images/icons/filter.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
}

.btn--info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;

  a {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;

    div {
      flex: 1;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 35px;
      text-align: center;
      display: flex;
      a {
        flex: 1;
      }
      p {
        flex: 1;
      }
    }
  }

  a {
    text-decoration: none;
  }
  .selected {
    border-bottom: 2px solid #b69f58;
    margin-bottom: -2px;
  }
  .Info .Schema {
    width: 56px;
    height: 17px;
    font-family: HelveticaNeue;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #202020;
  }
}

.btn--hero {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
}

.btn--back--select {
  background-image: url(../../images/icons/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 27px;

  margin-top: 13%;
}

.btn--heart {
  background-image: url(../../images/icons/heart.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 36px;
  height: 27px;
}
