.container__menu {
  display: flex;
  justify-content: center;
  height: 65px;
  border-top: 0.5px solid #b69f58;
  border-bottom: 0.5px solid #b69f58;
  outline: none;
  select {
    flex: 1;
    border: none;
    outline: none;
  }
}
